#finished-cont {
  color: #9e9ef5;
}

i {
  margin-left: 0.5rem;
}

.fa-undo {
  color: silver;
}

.fa-trash-o {
  color: #ff6868;
}
#new-cont {
  border-bottom: 1px solid var(--add-border);
  width: 50vw;
  max-width: 17rem;
  position: relative;
}

#add-input {
  background: transparent;
  border: none;
  padding: 0.5rem;
  color: var(--text-color);
}

#new-cont button {
  position: absolute;
  right: 0;
}

#add-input:focus {
  outline: none;
}

.fa-plus {
  color: var(--add-btn);
}
#unfinished-cont {
  color: peru;
}

.fa-check {
  color: #9eda45;
}
#main-cont {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.5rem;
}
[data-theme=false] {
  --background: rgb(255, 236, 199);
  --footer-background: rgb(70, 70, 70);
  --footer-link: rgb(170, 170, 170);
  --toggle-right: unset;
  --toggle-border: black;
  --toggle-background: white;
  --toggle-circle-background: rgb(36, 36, 36);
  --toggle-translate: translate(0);
  --text-color: black;
  --add-btn: black;
  --add-border: black;
}

[data-theme=true] {
  --background: rgb(71, 71, 71);
  --footer-background: rgb(70, 70, 70);
  --footer-link: rgb(170, 170, 170);
  --toggle-right: .1rem;
  --toggle-border: white;
  --toggle-background: blue;
  --toggle-circle-background: rgb(226, 226, 226);
  --toggle-translate: translate(1.85rem);
  --text-color: rgb(209, 209, 209);
  --add-btn: white;
  --add-border: white;
}
@media (max-width: 768px) {
  #main-cont {
    grid-template-columns: repeat(1, 1fr);
  }

  .note-row {
    justify-content: space-between;
    padding: 0 2rem;
  }
}
body {
  background: var(--background);
  color: var(--text-color);
}

#head,
#sub-head {
  text-align: center;
}

footer {
  margin: 5rem;
  display: flex;
  justify-content: space-around;
}

#footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: var(--footer-background);
  width: max-content;
  column-gap: 1px;
}

#footer a {
  padding: 0.2rem 0.7rem;
  background: var(--background);
  text-decoration: none;
  color: var(--footer-link);
  text-align: center;
}

#theme-toggle {
  height: 2.1rem;
  width: 4rem;
  border: 1px solid var(--toggle-border);
  background: var(--toggle-background);
  border-radius: 50px;
  padding: 0.2rem;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  position: relative;
  transform: scale(0.7);
}

#theme-toggle:hover {
  cursor: pointer;
}

#circle {
  height: 1.7rem;
  width: 1.7rem;
  border: 1px solid var(--toggle-border);
  background: var(--toggle-circle-background);
  border-radius: 50%;
  position: absolute;
  transition: all 0.3s;
  transform: var(--toggle-translate);
}

.note-row {
  height: 2rem;
  display: flex;
  align-items: center;
}

