#finished-cont {
    color: rgb(158, 158, 245);
}

.undo-btns button {
    margin-left: .5rem;
}

.btn {
    padding: .3rem;
}

.fa-undo {
    color: rgb(192, 192, 192);
}

#delete-btn {
    color: rgb(255, 104, 104);
}