#new-cont {
    border-bottom: 1px solid var(--add-border);
    width: 50vw;
    max-width: 17rem;
}

#add-input {
    background: transparent;
    border: none;
    padding: 0 .5rem;
    color: var(--text-color);
    width: 80%;
}

#add-input:focus {
    outline: none;
}

.fa-plus {
    color: var(--add-btn);
}